<p>podcast works!</p>

<!-- Two options,
     one for getting random episodes from a specific podcast
     or from the entire library of the user's saved podcasts
     (maybe add another option to let user choose which podcasts ro randomize from
-->

<!--
<div class="show-container" *ngFor="let show of shows">
  {{show["show"]
</div>
-->

<p># of podcasts according to javascript: {{showsLength}}</p>
<p># of podcasts according to html {{shows.length}}</p>

<img src="{{shows[randIndex]?.show?.images[0]?.url}}"/>
